GOOGLE_SHEETS_PAYOUT_WEBHOOK_URL=
MOONRIFT_ADMIN_EMAILS=peterphan441@gmail.com
MOONRIFT_AUTH_SECRET=
MOONRIFT_AUTH_USERS=[]
MOONRIFT_ALLOWED_EMAILS=peterphan441@gmail.com
META_APP_ID=
META_APP_SECRET=
META_LOGIN_CONFIG_ID=
META_GRAPH_API_VERSION=v25.0
APP_URL=https://app.moonriftmedia.com
WHOP_APP_ID=
WHOP_TOKEN_ENCRYPTION_KEY=
WHOP_API_VERSION_DATE=2026-09-04
WHOP_REPORT_TIME_ZONE=America/Los_Angeles
